<ion-content [fullscreen]="true">
    <div class="success-container">
        <div class="success-animation">
            <div class="checkmark-circle">
                <ion-icon name="checkmark-circle" color="success"></ion-icon>
            </div>
        </div>

        <h1 class="success-title">Order Placed Successfully!</h1>
        <p class="success-message">Thank you for your order. Your order has been placed and will be delivered soon.</p>

        <div class="order-id-card">
            <div class="order-id-label">Order ID</div>
            <div class="order-id-value">{{ orderId }}</div>
        </div>

        <div class="success-actions">
            <ion-button expand="block" class="cta-button" (click)="viewOrders()">
                <ion-icon slot="start" name="receipt"></ion-icon>
                View Orders
            </ion-button>

            <ion-button expand="block" fill="outline" color="secondary" (click)="goToHome()">
                <ion-icon slot="start" name="home"></ion-icon>
                Go to Home
            </ion-button>
        </div>

        <div class="success-note">
            <ion-icon name="information-circle"></ion-icon>
            <span>You can track your order status in the Orders tab</span>
        </div>
    </div>
</ion-content>